
*{
    padding:0;
    margin:0;
}
#navbar{
    height: 60px;
    background-color: black;
    
}
button{
    color:aliceblue;
    background-color:hotpink;
    
}
a{
    color:deeppink;
    margin-right: 150px;
}
#logo{
    color:goldenrod;text-decoration: none;
    font-size:25px;
}
input{
    background-color:gold
   
   
   /* visibility:hidden;*/
}
.contentBox{
    height: 100px;
    width:100px;
    border:2px solid black;
    display:inline-block;
}
footer{
    margin-top: 500px;
    background-color: black;
    color: white;
}

