*{
    font-family:'Times New Roman', Times, serif;
}
.myclass{
    color:brown;
    text-align:end;font-family:'Times New Roman', Times, serif;

}
h1{
    color: rgb(171, 19, 32);
   text-decoration:underline;
   font-weight:normal;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a{
    text-decoration: red wavy underline;
}
#one{
    font-size:50px;
    line-height:50px;
    text-transform:capitalize;
}
h2{
    text-align:center;
    text-transform: capitalize;
}
#outer{
    font-size:25px;

}
#inner{
    font-size:10px;
    
}