#one{
    width:50px;
}
#rsh{
    border-width:12px;
    border-style:dotted;
    background-color: aquamarine;
}
h1{
    border:5px double black;
}
#div1{
    height: 100px;
    width: 100px;
 text-align: center;
  background-color:yellow;
  border: 50px solid brown;
  border-radius:22px;
 margin-top:50px;
  padding: 25px 20px 23px 12px;
  margin-bottom:50px;
}
#div2{
    height: 100px;
    width: 100px;
    text-align: center;
  background-color:rgb(43, 255, 0);
  border: 50px solid rgb(229, 16, 176);
  border-radius:22px;
}
#divv3{
    height:100px;
    width:100px;
    background-color:green;
    border-radius:50%;
}

