*{
    margin: 0;
    font-family: arial;
    border:border-box;

}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width:100px;
    margin-left:10px;
    margin-right:10px;
   
}
.logo{
    background-image:url(amazon_logo.jpg) ;
    background-size:cover;
    height: 50px;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-address:hover{
 border:1.5px solid white;
}
/* firstbox */.add-first{
color:#CCCCCC;font-size:0.85rem;margin-left:15px;
}
/* SECOND BOX */.add-second{
    font-size:1rem;
    margin-left: 3px;
}
.add-icon{
    display:flex;
}
/* third box */
.nav_search{
    display:flex;
    margin-left:10px;
    justify-content:space-evenly;
    width:620px;
    height:40px;
    border-radius:4px;
    background-color:darkgoldenrod;
}
.search-select{
    /* margin-right:5px; */background-color:#F3F3F3;
    width: 50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav_search:hover{
border:2px solid orange;
}

.search_input{
    width:100%;
    font-size:1rem;
    border:none;

}
.serach_icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size :1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0F1111;
}
/* box4 */
.span{
    font-size:0.7rem;
}
.nav_second{
    font-size:0.85rem;
    font-weight: 700;
}
/* box6 */
.nav_cart i{
 font-size: 30px;
 margin-left:0px;
}
.nav_cart{
    font-size:0.8rem;
    font-weight: 700;
}
/* panel */
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;justify-content: space-evenly;

}
.panel_ops p{
    display:inline;
    margin-left:15px;
    font-weight: 700;
}
.panel_ops{
    width:70%;
    font-size:0.85rem;
}
.panel_deals{
    font-size:0.9rem;
    font-weight: 700;
}
/* hero_section */
.hero_section{
    background-image: url(image19.jpg);
    background-size: cover;
    height:360px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
}
.hero_msg {
background-color: white;
color:black;
display:flex;
height:40px;
align-items:center;
justify-content:center;
font-size: 0.85rem;
margin-bottom:25px;
width:80%;
}
.hero_msg a{
    color: #007185;
}     

/* box sections */
.box{
    height: 300px;
    width:23%;
    border:2px solid black;
    background-color: white;
    padding:15px 0px 15px;
    margin-block:inherit;
}
.shop_section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;margin-top:15px;
    background-size:cover;
}

.box_img{
    height: 260px;
    margin-top:10px;
}
.box_content{
    margin-left:10px;
    margin-right:10px;
}
.box_content p{
    color: #007185;
}
/* footer */
.foot{
    background-color: #374758;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.footpanel2{
background-color: #222f3d;
color:white;
height: 500px;
display:flex;
justify-content: space-evenly; 
}
ul{
    margin-top:20px;
}
ul a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}
.footpanel3{
    background-color:#0f1111;
    color:#dddddd;
    border: 0.5px solid white;
    height: 68px;
    display:flex;align-items:center;
    justify-content:center;
}
.logo{
        background-image:url('amazon_logo.jpg') ;
        background-size:cover;
        height: 50px;
        width: 100px;
}
.footpanel4{
    background-color: #0F1111;
    color:#e2e7e6;height: 100px;
    font-size:1rem;
    text-align:center;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    /* margin-top: 10px; */
}
.pages{
    
    /* margin-top: 10px; */padding:25px;
}
.copyright{
padding-top: 5px;
}