*{
    padding:0;
    margin:0;
}
#navbar{
    height: 60px;
    background-color: black;
    
}
button{
    color:aliceblue;
    background-color:cornflowerblue;
    
}
a{
    color:deeppink;
    margin-right: 50px;
}
#logo{
    color:goldenrod;text-decoration: none;
    font-size:25px;
}
input{
    background-color:rgba(0,255,0,25%);
   
   
   /* visibility:hidden;*/
}
#sample{
    background-color:cadetblue;
display:inline;
}
