
body{
    text-align:center;

}
#container{
    height: 600px;
    width: 800px;
    display:flex;
    flex-direction:row;
    /*justify-content: center;*/
    flex-wrap:wrap;
}
#box1{
    background-color:rgba(255,0,0,0.5);}
    
#box2{
    background-color:rgba(0,255,0,0.5);
}
#box3{
background-color:rgba(0,0,255,0.5);
}
#box4{
    background-color:yellow;
}
#box5{
    background-color:darkcyan;
}
div{
    height: 100px;
    width:100px;
    border:2px solid black;
    display:inline-block;
}

